:root {
    text-align: center;
    margin-top: 10%;
    background-color: gray;
}

h1 {
    margin-bottom: 10px;
}

.card {
    font-family: Arial;
    font-size: 120%;
  }

  button {
    background-color: #af0228;
    color: white;
    transition: background-color 0.1s;
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
    display: inline-block;
    margin: 5px;
    border: 0;
    padding: 2px 10px;
  }
  
  button:hover {
    opacity: 0.5;
  }
  
  .intro {
    text-align: center;
  }