body {
    color: white;
}
.choice-options {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    border-radius: 4px;
    background: black;
    font-size: 15px;
}
.choice-prefix {
    padding: 20px 30px;
    color: white;
}
.choice-text {
    padding: 20px;
    width: 100%;
}
.correct {
    background: linear-gradient(40deg, green 0%, green 100%);
}
.incorrect {
    background: linear-gradient(40deg, orange 0%, orange 100%);
}
#hud {
    justify-content: space-between;
    display: flex;
}
#hud-prefix {
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:750px) {
    .choice-options {
        min-width: 20px;
    }
}